#jumbo {
  padding-top: 10px;
  padding-bottom: 20px;
  background: linear-gradient(90deg, #f4f4f4, rgba(189, 183, 191, 0.75));
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 4px 4px #646363;

}

.bottom_links {
display: inline-block;
}
