
<div class="card" style="background-image: url('<%= cl_image_path tuxedo.picture %>')">
  <div class="card-category"></div>
  <div class="card-description">

  </div>
  <%= link_to tuxedo_path(tuxedo), class: "card-link" do %>
    <button class="card-button btn btn-primary">View Details</button>
  <% end %>
</div>
<div id="card-text" >

</div>
